services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: resources_management_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3306:3306"
    networks:
      - resources-management-net
    volumes:
      - mysql_data:/var/lib/mysql


  app:
    build: .
    container_name: resource-management-api
    restart: always
    depends_on:
      - mysql
    networks:
      - resources-management-net
    ports:
      - "8080:8080"


volumes:
  mysql_data:

networks:
  resources-management-net:
    driver: bridge